*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper {
    width: 80vw;
    background-color: blanchedalmond;
    margin: auto;
}

header{
    padding: 1%;
    background-color: lightblue;
    color: black;
}

#nav-main{
    width: 100%;
    display: flex;
    flex-direction: row;
}

main{
    width: 70%;
    height: auto;
    text-align: center;
    font-size: calc(20px + 1.5%);
}

main *{
    margin: 2%
}

nav{
    width:30%;
    background-color: lightsalmon;
}

nav ul{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    border: 3px solid navajowhite;
    margin: 5% auto;
    width : 80%;
    padding: 1%;
}

nav a{
    color: black;
    font-size: calc(2px + 1.3vw);
    text-decoration: none;
}

main img{
    max-width: 40%;
    height: auto;
}

footer {
  background-color: lightblue;
  color: white;
  text-align: center;
  padding: 1em;
}

@media screen and (max-width: 750px) {
  #nav-main{
    flex-direction: column;
  }

  nav, main{
    width: 100%;
  }

  nav ul{
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  nav li{
    width: 18%;
    padding: 1%;
    margin: 1%;
  }

  header{
    text-align: center;
  }
}

/* calculator styling */
#calculator { margin-top: 2rem; }

.calc-row { display: flex; gap: 1rem; flex-wrap: wrap; align-items: center; }

.calc-buttons button { cursor: pointer; }

.calc-output { margin-top: 1rem; }

.calc-output.negative { color: red; } /* 또는 background: red; color: white; */
